*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:dimgrey;
    color: antiquewhite;
}

header h1 {
    left: 1rem;
    margin-top: auto;
    padding-right: 2rem;
    background-color: cadetblue;
    font-size: 6.5rem;
    padding-left: 6rem;
    border-top: 4px solid black;
    border-right: 4px solid black;
}

header nav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    margin-top: 17.5rem;
}

nav a:hover {
    background-color: #fff;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding-right: 2rem;
}

a {
    text-decoration: none;
    color: cadetblue;
    font-weight: 600;
}


.banner{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    height: 30rem;
    justify-content: center;
    align-items: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.banner figure img{
    max-height:22rem;
    border:5px solid cadetblue
}

#figcapbanner{
    position:relative;
    top:-8rem;
    right: -20rem;
    background-color: darkslategray;
    color: cadetblue;
    font-size: 4rem;
}

.middle {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    background-color: blanchedalmond;
}
#about-me, #work, #contactme{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

h2{
    flex-direction: column;
    position: inherit;
    border-right: 5px solid black;
    font-size: 5rem;
    font-weight: bold;
    min-width: 27%;
    padding-left: 14%;
    margin-top: 3.5rem;
}

#about-me p {
    margin-left: 5rem;
    margin-top: 3.5rem;
    font-size: 2rem;
}

#work h2{
    padding-left:15%;
    width:27%;
    margin-top:8rem;
}

.workfigures{
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.card1, .card2{
    margin:6% 2% 2% 2%;
}



.workfigures img{
    align-items: center;
    width:100%;
    max-height: 16rem;
    border: 5px solid cadetblue;
    opacity: 50%;
    margin:2rem 2rem 0 0;
}

#firstpic{
    height: 70rem;
    min-height: 48rem;
    min-width: 70%;
}

.workfigures img:hover{
    opacity:100%;
}

#figcap{
    position:relative;
    background-color: dimgray;
    top:-13rem;
    display: inline-block;
    color: antiquewhite;
    font-size: 2.2rem;
    font-weight: 600;
    border: 5px solid cadetblue;
}

.card2{
    min-width:34.5%;
    margin-top: -11.5rem;
}


#contactme h2{
    padding-left: 8%;
    padding-bottom: 10%;
}

.contactInfo{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4rem;
}

#contactme ul{
    align-items: center;
    list-style: none;
}

#contactme ul li{
    display: inline-block;
    font-size: 3rem;
    color: cadetblue;
    padding: 1rem 5rem 0 15rem;
    font-weight:600;
}

#contactLinks li a{
    color: cadetblue
}

#contactLinks li a:hover{
    background-color: lime;
}

.banner figure img{
    max-height:22rem;
    border:5px solid cadetblue
}

@media screen and (max-width:768px){
    img{
        position: relative;
        top: 5rem;
    }
    h2,#work h2,#contactme h2{
        padding-left: 0;
    }
    .card1, .card2{
        width:70%;
    }
    .banner figure img {
        margin-left: -10rem;
    }
    #figcapbanner{
        right: -9rem;
    }
}
